<h1>Burning Airlines</h1>
<p>Search page</p>
<div id="app"></div>

<script type="html/template" id="AppViewTemplate">
  <div id="searchFlights">
    <h1>Flight Search</h1>
    <input id="from" type="text" placeholder="from"/>
    <input id="to" type="text" placeholder="to"/>
    <button>Search</button>
    <hr/>
  </div>

  <div id="searchResults">
  </div>

  <div id="flights">
  </div>

</script>

<script type="html/template" id="FlightViewTemplate">
  <h2>{{ date }} - Flight#{{name}} - {{ from }} to {{ to }} - {{ seats }} seats </h2>


</script>

<script type="html/template" id="SearchViewTemplate">
  <h1>Flight booking</h1>

  <td>{{ name }}</td>
  <td>{{ date }}</td>
  <td>{{ from }}</td>
  <td>{{ to }}</td>

</script>



<script type="html/template" id="FlightInfoTemplate">

  <td>{{ name }}</td>
  <td>{{ date }}</td>
  <td>{{ from }}</td>
  <td>{{ to }}</td>

</script>
