
<div id="app"></div>
<div id="reserved"></div>




<script type="html/template" id="AppViewTemplate">
  <div id="searchFlights">
    <h1>Flight Search</h1>
    <input id="from" type="text" placeholder="from"/>
    <input id="to" type="text" placeholder="to"/>
    <button id="search">Search</button>
    <hr/>
  </div>

  <div id="searchResults">
  </div>

  <div>
    <table>
      <thead>
        <tr>
         <th>Flight</th>
         <th>Date</th>
         <th>From</th>
         <th>To</th>
         <th>Plane</th>
        </tr>
      </thead>
      <tbody id="flights"></tbody>
    </table>
  </div>

</script>

<script type="html/template" id="FlightViewTemplate">
  <h2>{{ date }} - Flight#{{name}} - {{ from }} to {{ to }} - {{ seats }} seats </h2>
</script>


<script type="html/template" id="FlightInfoTemplate">

  <td>{{ name }}</td>
  <td>{{ date }}</td>
  <td>{{ from }}</td>
  <td>{{ to }}</td>
  <td>{{ airplane.name }}</td>


</script>

<script type="html/template" id='GridViewTemplate'>
<div id='grid'>
<h2>{{ date }} - Flight#{{name}} - {{ from }} to {{ to }} </h2>

  <div id="flightname"></div>
  <div id="seatInfo"></div>
  <table id="table"></div>
  <div id='seat'></div>
  <button id='buy' class="redbutton" disabled>Buy Ticket</button>
  <button id='reservations' class="redbutton">Reservation</button>



</div>
</script>


<script type="html/template" id='UserViewTemplate'>
<h1>User</h1>
</script>





<script type="html/template" id='ReservationViewTemplate'>

<div id="reservations">
Seat: {{ row }}{{ column }}
Flight:{{ flight_id }}

<br/>

</div>
</script>
