<h1>Burning Airlines</h1>
<p>Search page</p>
<div id="app"></div>

<script type="html/template" id="AppViewTemplate">
<div id="appView">
  <h1>Flight Search</h1>
  <hr/>
  <textarea placeholder="Search Flight"></textarea>
  <br>
  <button>Search</button>
  <ul id="flights"></ul>

</div>



</script>

<script type="html/template" id="FlightViewTemplate">
<h1>Flight booking</h1>


// <h2>
//     {{ title }}
//   </h2>
//
//   <h3>
//    Written by: {{ author }}
//   </h3>
//
//   </div>

</script>
