

body {
  background-color: #FFFFFC;
  margin: 0;
  text-align: center;
}

#companyName {
  font-family: 'Comfortaa', cursive;
  font-size: 68px;
  font-weight: bold;
}


#slogan {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-style: italic;
  position: relative;
  top: -50px;

}

#plane {
  position: relative;
  top: 20px;

}


.heading {
  display: inline-block;
}

p{
  font-family: 'Roboto', sans-serif;
  color: #2E282A;
}

h1 {
  color: #2E282A;
  font-family: 'Roboto', sans-serif;
}

th{
  font-family: 'Roboto', sans-serif;

}

td{
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
}

#table {
  margin: 0 auto;
}

.logo {
  background-color: #FFC466;
  text-align: center;
}



.redbutton {
    border-radius: 200px;
    transition: 0.5s all ease-in-out;
}

.redbutton:hover {
    color:red;

}

#flightindex{
  display: inline-block;
  position: fixed;
  left:500px;


}
